body {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Ajustăm pentru a plasa chenarul `main` la marginea de sus a ecranului */
    min-height: 100vh;
    margin: 0;
    padding-top: 20px;
    background-color: #282828;
    color: #ebdbb2;
    font-family: system-ui, sans-serif;
    font-size: 100%;
}

header {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #504945;
}

header strong {
    font-size: 2em;
    display: block;
    color: #fabd2f;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #83a598;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #3c3836;
    color: #ebdbb2;
}

main {
    background-color: #3c3836;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px; /* Spațiu între chenar și alte elemente */
    align-self: flex-start; /* Ajustăm pentru a plasa chenarul `main` la marginea de sus a ecranului */
}

article {
    color: #ebdbb2;
    line-height: 1.6;
}

article h1, article h2, article h3 {
    color: #fabd2f;
}

article pre {
    background-color: #282828;
    color: #ebdbb2;
    padding: 10px;
    overflow-x: auto;
}

article code {
    background-color: #282828;
    color: #ebdbb2;
}

/* Stiluri de bază pentru liste */
article ul, article ol {
    margin-left: 20px;
    padding-left: 20px;
}

article ul {
    list-style-type: disc;
}

article ol {
    list-style-type: decimal;
}

article li {
    margin-bottom: 10px;
    line-height: 1.6;
}

article ul li {
    position: relative;
}

article ul li::before {
    content: "•";
    color: #fabd2f;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

article ol li::before {
    content: counter(list-item) ". ";
    color: #fabd2f;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

article ol {
    counter-reset: list-item;
}

article ol li {
    counter-increment: list-item;
}

article li ul, article li ol {
    margin-left: 20px; /* Adaugă un spațiu suplimentar pentru subliste */
    padding-left: 20px;
    list-style-type: circle; /* Schimbăm tipul de marcator pentru subliste */
}

article li ul li::before {
    content: "◦";
    color: #d3869b; /* Culoare diferită pentru subliste */
}

article li ol li::before {
    content: "(" counter(list-item) ") ";
    color: #d3869b; /* Culoare diferită pentru subliste */
}

/* Stiluri suplimentare pentru niveluri mai adânci de liste */
article li ul li ul, article li ol li ol {
    margin-left: 20px; /* Indentează și mai mult sublistele de nivel mai adânc */
    padding-left: 20px;
    list-style-type: square; /* Schimbăm tipul de marcator pentru subliste adânci */
}

article li ul li ul li::before {
    content: "▪";
    color: #8ec07c; /* Culoare diferită pentru subliste adânci */
}

article li ol li ol li::before {
    content: "[" counter(list-item) "] ";
    color: #8ec07c; /* Culoare diferită pentru subliste adânci */
}


article blockquote {
    color: #83a598;
    border-left: 2px solid #83a598;
    padding-left: 10px;
}

article img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 20px auto;
    box-sizing: border-box;
    object-fit: contain;
}

article table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid #504945;
}

article th, article td {
    border: 1px solid #504945;
    padding: 8px;
    text-align: left;
}

article th {
    background-color: #262321;
    color: #ebdbb2;
    font-weight: bold;
}

article tbody tr:nth-child(even) {
    background-color: #3c3836;
}

article tbody tr:nth-child(odd) {
    background-color: #3c3836;
}

article tbody tr:hover {
    background-color: #665c54;
}

a {
    color: #83a598;
}

.btn {
    background-color: #458588;
    color: #ebdbb2;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: #689d6a;
    color: #282828;
}

footer {
    border-top: 1px solid #504945;
    text-align: center;
    padding: 20px 0;
}