<!DOCTYPE html>
<html lang="ro">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0" >
	<meta name="description" content="Jurnalul lui Cristian Moldovan" >
	<meta name="color-scheme" content="light dark" >
    <link href="/style.css" rel="stylesheet" type="text/css">
	<link rel="icon" href="/logo/favicon.ico" type="image/x-icon" >
	<link rel="icon" href="/logofavicon.png" type="image/png" >
	<link rel="icon" href="/logo/favicon.gif" type="image/gif" >
	<link rel="alternate" type="application/rss+xml" href="/feed.xml" title="RSS">
	<title>Cristian Moldovan</title>
</head>

<body>
    <main>
        <header>
            <strong>Cristian Moldovan</strong>
            <nav>
                <ul>
                    <li><a href="/index.html">acasă</a></li>
                    <li><a href="/jurnal.html">jurnal</a></li>
                    <li><a href="/proiecte.html">proiecte</a></li>
                    <li><a href="/liste.html">liste</a></li>
                    <li><a href="/suporter.html">suporter</a></li>
                    <li><a href="/politica.html">politici</a></li>
                    <li><a href="/despre.html">despre</a></li>
                    <li><a href="/contact.html">contact</a></li>
                    <li><a href="/feed.xml">feed rss</a></li>
                </ul>
            </nav>
        </header>

        <section>
            <h1>{{ title }}</h1>
            <p class="date-info">Data: {{ date }}</p>
        </section>

        <article>
            {{ content }}
        </article>
        
        <footer>
            <p><a href="https://ko-fi.com/thinkroot" target="_blank"><img src="/img/doneaza.jpg" alt="Donează" /></a></p>
            <p>Proud member of <a href="https://512kb.club" target="_blank">512kb.club</a> Proud member of <a href="https://250kb.club/crism-ro">250kb.club</a> Proud member of <a href="https://darktheme.club/" target="_blank">darktheme.club</a></p>
	        <hr />
            <p>Textul și imaginile din pagină sunt libere <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.ro" target="_blank">CC BY-SA 4.0</a>. <a href="https://gitlab.com/thinkroot99/crism.ro/-/tree/main/v4" target="_blank">Codul sursă</a> al paginii și <a href="https://gitlab.com/thinkroot99/crism.ro/-/tree/main/script%20v4" target="_blank">programul de generare</a> sunt libere (<a href="https://www.gnu.org/licenses/agpl.html" target="_blank">GNU AGPL</a>).</p>
            <p>Oricine este liber să folosească, să copieze, să modifice și să (re)distribue aceaste informații în condițiile licențelor de mai sus.</p>
        </footer>
        </main>
    </body>
</html>
