<!doctype html>
<html lang="ro">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{TITLE}}</title>
    <meta name="author" content="ThinkRoot" />
    <meta name="description" content="Salut, sunt ThinkRoot. Și bine ai venit în colțul meu de internet.">
    <link rel="canonical" href="https://crism.ro">
    <link rel="me" href="https://linux.social/@thinkroot99">
    <meta name="color-scheme" content="light dark">
    <link rel="icon" href="/logo/favicon.ico" type="image/x-icon">
	<link href="https://www.crism.ro/atom.xml" type="application/atom+xml" rel="alternate" title="Colțul de internet al lui ThinkRoot">
	<style>
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    max-width: 50rem;
    line-height: 1.45;
    padding: 0.6rem 0 1.6rem;
    box-shadow: 0 0 10rem 0 #67b3da;
    border-radius: 0 0 0.3rem 0.3rem;
}
main {
    padding: 0 1.4rem;
    hyphens: auto;
}
code {
    background: #67b3da;
    padding: 0.3rem;
    tab-size: 4;
}
pre code {
    display: block;
    overflow-x: auto;
    padding: 0.3rem 0.6rem;
}
blockquote {
    margin-left: 0em;
    padding-left: 1.0em;
    border-left: 0.3em solid #67b3da;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 20px auto;
    box-sizing: border-box;
    object-fit: contain;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    background: #67b3da;
}
nav li {
    list-style: none;
}
nav li * {
    display: block;
    padding: 0.4rem 0.4rem;
    color: rgb(0, 0, 0);
}
nav li strong {
    padding-left: 1.5rem;
    padding-right: 1rem;
}
nav a {
    text-decoration: none;
}
nav a:hover {
    background: #67b3da;
}
	</style>
</head>

<nav>
	<ul>
		<li><strong>ThinkRoot</strong></li>
		<li><a href="index.html">acasa</a></li>
        <li><a href="jurnal.html">jurnal</a></li>
		<li><a href="proiecte.html">proiecte</a></li>
        <li><a href="lista.html">listă</a></li>
        <li><a href="despre.html">despre</a></li>
	</ul>
</nav>

<main>
