@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Variabile CSS pentru culori */
:root {
    --main-text-color: #8FBCBB; /* Albastru Frost din Nord Theme */
    --main-bg-color: #282C34; /* Gri Închis */
    --secondary-text-color: #F8F8FF; /* Alb Fantomă */
  }
  
  /* Stiluri generale pentru corpul paginii */
  body {
      max-width: 50em;
      margin: auto;
      font-family: "Kode Mono", monospace;
      font-size: 1em; /* folosim unități relative pentru scalare corectă */
      background-color: var(--main-bg-color);
      color: var(--main-text-color);
  }
  
  /* Stiluri pentru header, nav și footer */
  header, nav, footer {
      border: 2px dashed var(--main-text-color);
      background-color: var(--main-bg-color);
      color: var(--secondary-text-color);
      margin: 1em;
      padding: 1em;
      transition: background-color 0.5s ease;
  }
  
  header:hover, nav:hover, footer:hover {
      background-color: #4C566A;
  }
  
  /* Stiluri pentru titluri */
  h1, h2, h3, h4, h5, h6 {
      font-family: "Kode Mono", monospace;
      clear: both;
      color: var(--main-text-color);
  }
  
  h1.title {
      margin: auto;
  }
  
  h1::before {
      content: "";
      display: block;
      width: 50px;
      height: 2px;
      background: var(--main-text-color);
      margin-bottom: 10px;
  }
  
  /* Stiluri pentru paragrafe */
  p.author {
      font-size: x-small;
      margin: auto;
      color: var(--main-text-color);
  }
  
  p.author::before {
      content: "by ";
  }
  
  p.date {
      overflow-wrap: anywhere;
      display: none;
      color: var(--main-text-color);
  }
  
  /* Stiluri pentru imagini */
  img {
      padding: 2px;
      color: #000;
      max-width: 100%; /* folosim unități relative pentru scalare corectă */
      max-height: 100%; /* folosim unități relative pentru scalare corectă */
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  /* Stiluri pentru blocuri de cod și blocuri citate */
  blockquote, pre {
      padding: 1em;
      background-color: var(--main-text-color);
      color: #000;
      clear: both;
      display: table;
      margin-left: auto;
      margin-right: auto;
      padding-top: 0.25em;
      padding-bottom: 0.25em;
  }
  
  /* Stiluri pentru imagini în interiorul blocurilor citate */
  blockquote img {
      clear: none;
      height: auto;
      max-height: 32em;
      max-width: 100%;
  }
  
  /* Dacă este doar o imagine, nu este nevoie să desenăm două borduri */
  blockquote > p:only-child > a:only-child > img:only-child {
      border: none;
      padding: 0;
  }
  
  /* Stiluri doar pentru blocuri de cod */
  pre, code {
    background-color: var(--main-text-color);
      font-family: "Kode Mono", monospace;
      border-radius: 0.1em;
      color: #F8F8FF; /* Alb Fantomă */
  }
  
  /* Stiluri pentru tabele */
  table {
      padding: 2px;
      border-style: solid;
      border-color: #000;
      border-collapse: collapse;
      width: 80%;
      caption-side: bottom;
  }
  
  td {
      border: 1px solid #000;
      text-align: left;
      color: var(--main-text-color);
  }
  
  th {
      border: 1px solid #000;
      background-color: #ccc;
      color: #000;
      text-align: left;
  }
  
  /* Stiluri pentru link-uri */
  a {
      transition: color 0.5s ease;
      color: var(--main-text-color);
  }
  
  a:link {
      color: var(--main-text-color);
  }
  
  a:visited {
      color: var(--secondary-text-color);
  }
  
  a:hover {
      color: var(--secondary-text-color);
      transition: color 0.5s ease;
      transform: scale(1.1);
  }
  
  a:active {
      color: var(--secondary-text-color);
  }
  
  /* Stiluri pentru liste neordonate */
  ul {
      list-style-type: circle;
      color: var(--main-text-color);
  }
  
  /* Stiluri pentru media queries */
  @media (max-width: 600px) {
      body {
          font-size: 1em;
      }
      /* alte stiluri pentru ecrane mici */
  }
  
  @media (max-width: 900px) {
      /* stiluri pentru ecrane medii */
  }
  
  @media (max-width: 1200px) {
      /* stiluri pentru ecrane mari */
  }
  