/* Import fonturi */
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700&display=swap');

/* Paleta de culori Nord */
:root {
    --nord0: #2e3440;  /* Albastru închis */
    --nord1: #3b4252;  /* Gri mai închis */
    --nord2: #4c566a;  /* Gri mai deschis */
    --nord3: #d8dee9;  /* Alb */
    --nord4: #e5e9f0;  /* Alb */
    --nord5: #81a1c1;  /* Albastru deschis */
    --nord6: #8fbcbb;  /* Albastru mai deschis la hover */
    --nord7: #88c0d0;  /* Albastru mai deschis */
    --nord8: #bf616a;  /* Roșu deschis */
}

/* Stiluri globale */
body {
    font-family: "Kode Mono", monospace;
    margin: 0;
    padding: 0;
    background-color: var(--nord0);
    color: var(--nord3);
    transition: background-color 0.3s, color 0.3s;
}

.container {
    max-width: 1400px; /* Acest lucru va limita lățimea la 1200px */
    margin: 0 auto; /* Acest lucru va centra conținutul pe ecran */
    padding: 20px;
    background-color: var(--nord1);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
}

.header-content {
    display: inline-block;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrare pe orizontală */
    text-align: center; /* Centrare pentru titlu */
    margin-bottom: 20px; /* Adaugăm un spațiu între logo și meniu */
    flex-direction: column; /* Centrare pe verticală */
}

.logo {
    margin-bottom: 10px; /* Spațiu între logo și titlu */
    width: 90px; /* Modificăm lățimea logo-ului */
    height: auto; /* Înălțimea va fi ajustată proporțional */
}

.title {
    margin: 0;
    color: var(--nord8);
    font-size: 32px; /* Ajustăm dimensiunea fontului pentru titlu */
    display: block; /* Asigurăm că titlul este un bloc, pentru a putea fi centrat */
}

.author-info,
.date-info {
    display: inline-block;
    margin: 0 10px;
    color: var(--nord4);
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--nord3);
}

nav ul li a:hover {
    color: var(--nord6);
}

.content {
    display: flex;
    flex-direction: column; /* Schimbare la flex-direction: column pentru layout mai flexibil */
    gap: 20px;
}

main,
aside {
    padding: 20px;
    background-color: var(--nord2);
    border-radius: 8px;
    margin-bottom: 20px; /* Adăugare margin-bottom pentru a separa main și aside */
}

main {
    max-width: 100%; /* Modificare pentru a se extinde pe întreaga lățime */
}

aside {
    max-width: 100%; /* Modificare pentru a se extinde pe întreaga lățime */
}

aside h2 {
    color: var(--nord8);
    margin-top: 0;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    text-decoration: none;
    color: var(--nord5);
    transition: color 0.3s;
}

aside ul li a:hover {
    color: var(--nord6);
}

article {
    margin-bottom: 40px;
    position: relative;
}

article p {
    line-height: 1.6;
}

article a {
    color: var(--nord5);
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}

#article-content table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

#article-content table:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#article-content th,
#article-content td {
    border: 1px solid var(--nord3);
    padding: 8px;
    text-align: left;
}

/* Actualizăm culoarea tuturor titlurilor */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--nord8);
}

blockquote {
    background-color: var(--nord2);
    padding: 10px;
    margin: 0 0 20px 0;
    border-left: 4px solid var(--nord5);
    color: var(--nord3);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

blockquote:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

pre {
    background-color: var(--nord2);
    padding: 15px;
    border-radius: 8px;
    overflow-x: auto;
    white-space: pre-wrap;
    color: var(--nord3);
}

code {
    background-color: var(--nord1);
    padding: 2px 5px;
    border-radius: 4px;
    font-family: "Kode Mono", monospace;
    color: var(--nord5);
}


button {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid var(--nord5);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    color: var(--nord5);
}

button:hover {
    background-color: var(--nord5);
    color: var(--nord0);
}

a {
    color: var(--nord5);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var(--nord6);
}

/* Efecte suplimentare pentru img */
img {
    margin: auto;
    display: block;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, filter 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-align: center;
    max-width: 100%; /* Schimbare pentru a se adapta la lățimea părintelui */
    height: auto; /* Înălțimea va fi ajustată proporțional */
}

img:hover {
    transform: scale(1.05); /* Mărește puțin dimensiunea imaginii */
    opacity: 0.8; /* Redu opacitatea la hover */
    filter: brightness(90%); /* Redu luminozitatea */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adaugă o umbră mai pronunțată */
}

.sidebar-img {
    margin: auto;
    display: block;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, filter 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-align: center;
    max-width: 100%; /* Schimbare pentru a se adapta la lățimea părintelui */
    height: auto; /* Înălțimea va fi ajustată proporțional */
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: var(--nord2);
    border-radius: 8px;
}

@media (min-width: 768px) {
    .content {
        display: flex; /* Adăugăm afișarea flexibilă */
        flex-direction: row; /* Schimbăm direcția flex pe desktop */
    }

    main {
        flex: 1; /* Facem ca main să ocupe spațiul rămas */
        padding-right: 5px; /* Adăugăm un spațiu între main și aside */
    }

    aside {
        flex-basis: 300px; /* Setăm o lățime inițială fixă pentru aside */
        flex-shrink: 0; /* Împiedicăm micșorarea automată a lățimii */
        margin-left: 5px; /* Adăugăm un spațiu între main și aside */
    }
}
