<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cristian Moldvoan</title>
    <link rel="icon" href="/img/logo/logo.png">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Cristian Moldovan</h1>
        </header>   
        <nav>
            <ul>
                <li><a href="/index.html">Acasă</a></li>
                <li><a href="/blog.html">Blog</a></li>
                <li><a href="/blogroll.html">Blogroll</a></li>
                <li><a href="/despre.html">Despre</a></li>
                <li><a href="/contact.html">Contact</a></li>
                <li><a href="/suporter.html">Suporter</a></li>
                <li><a href="/glosar.html">Glosar</a></li>
            </ul>
        </nav>

        <div class="content">
            <main>
                <header>
                    <h1>{{ title }}</h1>
                    <div class="header-content">
                        <p class="date-info">Data: {{ date }}</p>
                    </div>
                </header>
                <article id="article-content">
                    {{ content }}
                    <p><a href="">Adaugă un comentariu</a></p>
                </article>
            </main>
            <aside>
                <ul>
                    <li><a href="confidentialitate.html" style="display: block; text-align: center;">Confidențialitate</a></li>
                    <li><a href="disclaimer.html" style="display: block; text-align: center;">Disclaimer</a></li>
                </ul>
                <h2>Comunității</h2>
                <ul>
                    <li><a href="https://discord.gg/EpSWDDRv4g" target="_blank" style="display: block; text-align: center;">ThinkPad România</a></li>
                    <li><a href="https://discord.gg/GK6HGk634J" target="_blank" style="display: block; text-align: center;">Comunitatea Linux România</a></li>
                </ul>
                <h2>Proiecte</h2>
                <ul>
                    <li><a href="https://rootlinux.ro" target="_blank" style="display: block; text-align: center;">/ Linux<br>Știri despre Linux și Open Source</a></li>
                    <li><a href="https://pass.crism.ro/" target="_blank" style="display: block; text-align: center;">Generator de parole</a></li>
                    <li><a href="https://conversie.crism.ro/" target="_blank" style="display: block; text-align: center;">Conversie Săptămâni și Zile</a></li>
                    <li><a href="https://calc.crism.ro/" target="_blank" style="display: block; text-align: center;">Calculator Simplu</a></li>
                    <li><a href="https://g.crism.ro/" target="_blank" style="display: block; text-align: center;">Informații de Călătorie<br>Memmingen/München > Geislingen an der Steige</a></li>
                    <li><a href="https://pastebin.crism.ro/" target="_blank" style="display: block; text-align: center;">crism.ro PasteBin</a></li>
                    <li><a href="https://forum.crism.ro/" target="_blank" style="display: block; text-align: center;">Forum crism.ro</a></li>
                    <li><a href="https://shop.crism.ro/" target="_blank" style="display: block; text-align: center;">Draco Shop</a></li>
                </ul>
                <!-- RCAST.NET - START EMBEDDED PLAYER -->
                <iframe width="350" height="88" src="https://players.rcast.net/vexmini/232136" class="rcast-iframe" allow="autoplay"></iframe>
                <div class="rcast-link-container">
                    <a href="https://www.rcast.net" target="_blank" title="Internet Radio Hosting">RCAST.NET</a>
                </div>
                <!-- RCAST.NET - END EMBEDDED PLAYER -->
                <div style="display: block; text-align: center;">
                    <p>Dacă vă place conținutul meu și vă simțiți generoși, vă rog să vă gândiți să susțineți ceea ce fac eu, <a href="suporter.html">așa cum au făcut alții</a>.</p>
                    <p>Mulțumesc</p>
                    <button class="button" onclick="window.open('https://ko-fi.com/thinkroot', '_blank')">Donează</button> <br><br>
                    <a href="https://512kb.club" target="_blank"><img src="https://512kb.club/assets/images/orange-team.gif" alt="a proud member of the orange team of 512KB club" /></a>
                </div> 
            </aside>            
        </div>
        <footer>
            <p>2023, 2024 - crism.ro, Cristian Moldovan, este titularul drepturilor de autor asupra acestei lucrări.</p>
            <p>Textul și imaginile din paginile Acasă (index), Despre și Contact sunt sub legea drepturilor de autor - <a href="https://ro.wikipedia.org/wiki/Drepturi_de_autor" target="_blank">Copyright</a>.</p>
            <p>Textul și imaginile din restul paginilor sunt libere <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.ro" target="_blank">CC BY-SA 4.0</a>. Oricine este liber să folosească, să copieze, să modifice și să (re)distribue aceaste informații în condițiile licențelor de mai sus.</p>
        </footer>
    </div>
</body>
</html>
