<!DOCTYPE html>
<html lang="ro">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <meta name="description" content="Jurnalul lui Cristian Moldovan" >
    <meta name="color-scheme" content="light dark" >
    <link href="/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/logo/favicon.ico" type="image/x-icon" >
    <link rel="icon" href="/logofavicon.png" type="image/png" >
    <link rel="icon" href="/logo/favicon.gif" type="image/gif" >
    <link rel="alternate" type="application/rss+xml" href="/feed.xml" title="RSS">
    <title>Cristian Moldovan</title>
</head>

<body>
    <main>
        <header>
            <strong>Cristian Moldovan</strong>
            <nav>
                <ul>
                    <li><a href="/index.html">acasă</a></li>
                    <li><a href="/jurnal.html">jurnal</a></li>
                    <li><a href="/proiecte.html">proiecte</a></li>
                    <li><a href="/liste.html">liste</a></li>
                    <li><a href="/suporter.html">suporter</a></li>
                    <li><a href="/politica.html">politici</a></li>
                    <li><a href="/despre.html">despre</a></li>
                    <li><a href="/contact.html">contact</a></li>
                    <li><a href="/feed.xml">feed rss</a></li>
                </ul>
            </nav>
        </header>

        <section>
            <h1>Colecția de laptopuri ThinkPad</h1>
            <p class="date-info">Data: 2024-06-07</p>
        </section>

        <article>
            <p>În 2021 m-a convins cineva - un amic, să cumpăr un laptop din seria
ThinkPad indiferent de model sau de an.</p>
<p>M-am interesat eu pe internet despre aceste modele de laptopuri și mi
sau părut interesante. Așa că am ajuns pe OLX și căutam un model
ieftin.</p>
<p>Am dat peste un <strong>ThinkPad T420</strong> și un
<strong>ThinkkPad T43</strong>. Modelul T420 l-am cumpărat cu <em>450 de
lei</em>, iar T43 l-am cumpărat cu <em>60 de lei</em>.</p>
<p>Cred că am făcut o afacere bună :) Primele cumpărături au fost în
decembrie 2022.</p>
<blockquote>
<p>Geo master of Arch Linux :)) Dacă vezi acest articol să ști că tu
ești de vină :) Păcat că nu ma faci clipuri video.</p>
</blockquote>
<h2 id="thinkpad-t43-și-thinkpad-t420">ThinkPad T43 și ThinkPad
T420</h2>
<p>Acestea au fost primele ThinkPad-uri cumpărate și am fost mulțumit de
ele. T420 nu îl mai am pentru că l-am donat unui copil de 13 ani
dintr-un sat din apropiere pentru că știam că își dorește foarte mult un
laptop ThinkPad.</p>
<blockquote>
<p>ZMax dacă vezi acest articol îți recomand să înveți Linux</p>
</blockquote>
<p>T43 încă îl m-ai am și merge ca un avion :), adică sună foarte tare -
probabil are nevoie de o curățare de praf și o nouă pastă
termoconductoare pe procesor.</p>
<p>Configurația celor două modele este următoarea:</p>
<pre><code>IBM ThinkPad T43

Sistem de operare: antiX 22 32 bit
Procesor: Intel Pentium M 1.86 GHz
Grafică: Intel Mobile 915GM
Memorie RAM: 1 GB
Stocare: HDD Hitachi 20 GB
Data de lansare: 2005

Galerie foto: https://pixelfed.de/i/web/post/477107463313182746</code></pre>
<p>și</p>
<pre><code>Lenovo ThinkPad T420

Sistem de operare: Arch Linux 64 bit
Procesor: Intel Core i5 2540M 2.60 GHz
Grafică: Intel HD Graphics 3000
Memorie RAM: 6 GB
Stocare: SSD Hitachi 320 GB {{ content }}amp; HDD Western Digital 1 TB
Data de lansare: 2011

Galerie foto: https://pixelfed.de/i/web/post/477107941070393376</code></pre>
<h2 id="thinkpad-e532-thinkpad-s230u-twist-și-thinkpad-t440p">ThinkPad
E532, ThinkPad S230u Twist și ThinkPad T440p</h2>
<p>În anul următor, 2022, am cumpărat alte trei modele și anume
<strong>E531</strong>, <strong>S230u Twist</strong> și
<strong>T440p</strong>.</p>
<p>Primul model nu este un model performant, este un model mai slab. Al
doilea model este unul stil tabletă - are ecranul rotativ și se poate
transforma în tabletă.</p>
<p>Pe când T440p este un model destul de bun, chiar dacă a fost fabricat
în urmă cu 11 ani (atunci a început producția seriei).</p>
<p>Configurația hardware la acestea trei este:</p>
<pre><code>Lenovo ThinkPad E531

Sistem de operare: Windows 10 Home 64 bit
Procesor: Intel Core i3 3110M 2.40 GHz
Grafică: Intel HD Graphics 4000 {{ content }}amp; Nvidia GeForce GT 740M
Memorie RAM: 4 GB
Stocare: HDD Western Digital 500 GB
Data de lansare: 2012

Galerie foto: https://pixelfed.de/i/web/post/477108272273752099</code></pre>
<p>și</p>
<pre><code>Lenovo ThinkPad S230u Twist

Sistem de operare: Fedora 37 64 bit
Procesor: Intel Core i7-3517U 1.90GHz
Grafică: Intel HD Graphics 4000
Memorie RAM: 8 GB
Stocare: HDD Hitachi 320 GB
Data de lansare: 2012

Galerie foto: https://pixelfed.de/i/web/post/478938930181021570</code></pre>
<p>și</p>
<pre><code>Lenovo ThinkPad T440p

Sistem de operare: Windows 10 Home 64 bit
Procesor: Intel Core i5 4300M 2.60 GHz
Grafică: Intel HD Graphics 4600
Memorie RAM: 8 GB
Stocare: HDD Hitachi 500 GB
Data de lansare: 2013

Galerie foto: https://pixelfed.de/i/web/post/477108531798728749</code></pre>
<p>Anul trecut în decembrie când am donat T420, am donat și modelul
E532.</p>
<p>Am donat aceste modele pentru că am vrut să dau toate laptopurile și
să rămân doar cu două laptopuri.</p>
<h2 id="noul-vechiul-t440p">Noul, vechiul T440p</h2>
<p>În toată această poveste de cumpărături, am ajuns să am două modele
de <strong>T440p</strong> - unul cu procesor i5 și celălalt cu procesor
i7. Dar povestea despre cum am ajuns să am două astfel de modele este
destul de interesantă și comică :)</p>
<p>În 2022 sau 2023 am desfăcu laptopul T440p i5 pentru al curăța de
praf și a pune pastă termoconductoare la procesor. Toate bune și
frumoase cu desfacerea lui, curățarea și schimbarea pastei
termoconductoare a decurs foarte bine.</p>
<p>L-am asamblat frumos la loc și surpriza a fost că nu mai pornea de
loc. L-am desfăcut din nou și m-am uitat pe la toate firele și cablurile
să văd dacă sunt puse bine - totul în regulă, dar laptopul nu mergea.
Inițial am crezut că s-a produs scurtcircuit și s-a ars ceva
important.</p>
<p>Și astfel am mai stat câteva luni cu vechiul T420 până când în 2023
am cumpărat alt model de T440p dar cu un procesor și configurație
hardware mai bună.</p>
<p>Iar după alte câteva luni am aflat de ce nu mai mergea primul T440p -
acesta nu a mers pentru că s-a stricat touchpad-ul, așa că l-am desfăcut
din nou - am deconectat touchpad-ul și laptopul a pornit fără alte
probleme.</p>
<p>Acesta are configurația următoare:</p>
<pre><code>Lenovo ThinkPad T440p

Sistem de operare: Arch Linux și Fedora 40 64 bit
Procesor: Intel Core i7 4800MQ 2.70 GHz
Grafică: Intel HD Graphics 4600
Memorie RAM: 16 GB
Stocare: SSD Intel 240 GB
Data de lansare: 2013</code></pre>
<p>Plus că are tastatură iluminată și ecranul mult mai bun decât cel cu
procesor i5.</p>
<h2 id="thinkpad-r61-și-thinkpad-t420s">ThinkPad R61 și ThinkPad
T420s</h2>
<p>Anul acesta am continuat seria de cumpărături. Practic în fiecare an
am cumpărat câte un model de laptop sau mai multe.</p>
<p>Anul acesta, 2024, am cumpărat modelul <strong>R61</strong> și
<strong>T420s</strong>. Pentru că am vrut să am din nou un model de T420
am ajuns să cumpăr modelul cu s în coadă, care este un pic mai slab
decât T420.</p>
<p>Din păcate laptopul ThinkPad R61 este parola din BIOS și nu mai am
acces la sistemul de operare sau BIOS. A mers o zi sau două, de am
apucat să schimb Windows-ul cu distribuția antiX 22.</p>
<p>Iar pe T420s am schimbat Windows 7 cu Arch Linux, care în momentul
scrieri acestui articol este doar o interfață neagră (TTY). Nu am
instalat nici o interfață grafică sau program.</p>
<p>La aceste modele nu știu configurația, dar o să actualizez articolul
după ce mă interesez de configurația hardware a lor.</p>
<h2 id="listă-laptopuri">Listă laptopuri</h2>
<table style="width:100%;">
<colgroup>
<col style="width: 12%" />
<col style="width: 16%" />
<col style="width: 13%" />
<col style="width: 15%" />
<col style="width: 6%" />
<col style="width: 19%" />
<col style="width: 7%" />
<col style="width: 7%" />
</colgroup>
<thead>
<tr class="header">
<th>Model</th>
<th>Sistem de operare</th>
<th>Procesor</th>
<th>Grafică</th>
<th>Memorie RAM</th>
<th>Stocare</th>
<th>Data de lansare</th>
<th>Anul cumpărării</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>IBM ThinkPad T43</td>
<td>antiX 22 32 bit</td>
<td>Intel Pentium M 1.86 GHz</td>
<td>Intel Mobile 915GM</td>
<td>1 GB</td>
<td>HDD Hitachi 20 GB</td>
<td>2005</td>
<td>2021</td>
</tr>
<tr class="even">
<td>IBM ThinkPad R61</td>
<td>antiX 22 32 bit</td>
<td>Intel Core 2 Duo T8100 2.10 GHz</td>
<td>Nvidia Quadro NVS 140M</td>
<td>2 GB</td>
<td>HDD 160 GB</td>
<td>2008</td>
<td>2024</td>
</tr>
<tr class="odd">
<td>Lenovo ThinkPad T420 (donat în 2023)</td>
<td>Arch Linux 64 bit</td>
<td>Intel Core i5 2540M 2.60 GHz</td>
<td>Intel HD Graphics 3000</td>
<td>6 GB</td>
<td>SSD Hitachi 320 GB {{ content }}amp; HDD Western Digital 1 TB</td>
<td>2011</td>
<td>2021</td>
</tr>
<tr class="even">
<td>Lenovo ThinkPad T420s</td>
<td>Arch Linux 64 bit</td>
<td>Intel Core i5 2520M 2.50 GHz</td>
<td>Intel HD Graphics 3000</td>
<td>4 GB</td>
<td>SSD 160 GB</td>
<td>2011</td>
<td>2024</td>
</tr>
<tr class="odd">
<td>Lenovo ThinkPad E531 (donat în 2023)</td>
<td>Windows 10 Home 64 bit</td>
<td>Intel Core i3 3110M 2.40 GHz</td>
<td>Intel HD Graphics 4000 {{ content }}amp; Nvidia GeForce GT 740M</td>
<td>4 GB</td>
<td>HDD Western Digital 500 GB</td>
<td>2012</td>
<td>2022</td>
</tr>
<tr class="even">
<td>Lenovo ThinkPad S230u Twist</td>
<td>Fedora 37 64 bit</td>
<td>Intel Core i7-3517U 1.90 GHz</td>
<td>Intel HD Graphics 4000</td>
<td>8 GB</td>
<td>HDD Hitachi 320 GB</td>
<td>2012</td>
<td>2022</td>
</tr>
<tr class="odd">
<td>Lenovo ThinkPad T440p</td>
<td>Windows 10 Home 64 bit</td>
<td>Intel Core i5 4300M 2.60 GHz</td>
<td>Intel HD Graphics 4600</td>
<td>8 GB</td>
<td>HDD Hitachi 500 GB</td>
<td>2013</td>
<td>2022</td>
</tr>
<tr class="even">
<td>Lenovo ThinkPad T440p</td>
<td>Arch Linux și Fedora 40 64 bit</td>
<td>Intel Core i7 4800MQ 2.70 GHz</td>
<td>Intel HD Graphics 4600</td>
<td>16 GB</td>
<td>SSD Intel 240 GB</td>
<td>2013</td>
<td>2023</td>
</tr>
</tbody>
</table>
<h2 id="de-final">De final</h2>
<p>Am o colecție de <strong>6 laptopuri</strong> din seria
<strong>ThinkPad</strong> produse de <strong>IBM</strong> și
<strong>Lenovo</strong>. Laptopuri care arată mai mult sau mai puțin
bine pentru că nu toate au fost întreținute cum trebuie, din păcate.</p>
<p>Nu am cheltuit foarte mulți bani pe ele. Cel mai ieftin a fost 60 de
lei și cel mai scump a fost 900 de lei.</p>
<p>Din păcate nu am avut timp să mă ocup de aceste laptopuri. Cum am
scris mai sus nu toate au fost întreținute bine, unele mai trebuie
curățate pe dinafară, pe dinăuntru toate trebuie curățate, la unele mai
trebuie schimbate anumite piese sau trebuie îmbunătățite.</p>
<p>Sper doar ca într-o zi să mă apuc de ele. Când voi face acest lucru
cu siguranță o să scriu pe blog despre cea ce fac la ele</p>
        </article>
        
        <footer>
            <p><a href="https://ko-fi.com/thinkroot" target="_blank"><img src="/img/doneaza.jpg" alt="Donează" /></a></p>
            <p>Proud member of <a href="https://512kb.club" target="_blank">512kb.club</a> Proud member of <a href="https://250kb.club/crism-ro">250kb.club</a> Proud member of <a href="https://darktheme.club/" target="_blank">darktheme.club</a></p>
            <hr />
            <p>Textul și imaginile din pagină sunt libere <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.ro" target="_blank">CC BY-SA 4.0</a>. <a href="https://gitlab.com/thinkroot99/crism.ro/-/tree/main/v4" target="_blank">Codul sursă</a> al paginii și <a href="https://gitlab.com/thinkroot99/crism.ro/-/tree/main/script%20v4" target="_blank">programul de generare</a> sunt libere (<a href="https://www.gnu.org/licenses/agpl.html" target="_blank">GNU AGPL</a>).</p>
            <p>Oricine este liber să folosească, să copieze, să modifice și să (re)distribue aceaste informații în condițiile licențelor de mai sus.</p>
          </footer>
        </main>
    </body>
</html>
